#grid-container {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 850px;
    padding: 100px;
}

.row .column {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    flex: 1 1 auto;
}

#gridBtn  {

}

/* added flex to .square */